<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nvidia_Grouping_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Nvidia_Grouping_Tool.Properties.Settings>
            <setting name="minimize_tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="start_with_windows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="folder_instead_of_merging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="merge_interval" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="first_time_opening" serializeAs="String">
                <value>True</value>
            </setting>
        </Nvidia_Grouping_Tool.Properties.Settings>
    </userSettings>
</configuration>